services:
  - type: web
    name: analizador-financiero
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python scheduler.py"
    envVars:
      - key: TELEGRAM_TOKEN
        sync: false
      - key: TELEGRAM_CHAT_ID
        sync: false
      - key: FINNHUB_API_KEY
        sync: false
      - key: PYTHON_VERSION
        value: "3.11.0"
